<html>
    <head>
        <title>
    <%= title%>
    </title>
    </head>
    <body>
        <h1> Contact List </h1>
       <% for(let i of contact_list){ %> 
        
        <ul>
            <li>
        <p><%= i.name %> </p>
        <p><%= i.phone %> </p>
    </li>
    </ul>
        
        <%} %>
    </body>
</html>